
.summary_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    
   
    margin: 10px;
    padding: 10px 10px;
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.summary-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    font-size: 16px;
    font-weight: bold;
    
    
}

.img-product-summary{
    display: flex;
    width: 60px;
}

.img-product-summary img {
  width: 50%;
}

.bar-summary {
    width: 100%;
    background-color:#57C2F3 ;
    height: 6px;
    padding: 0 20px;
    margin-top: 8px;
}






