

.contact-details_container{
    display: flex;
    justify-content: center;

    margin: 8%;
    width: 100%;
}


.billing-adress-detail_container , .billing-delivery-detail_container{
    display: flex;
    flex-direction: column;
    
    padding: 16px;
    margin: 0 50px 0 30px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    height: 80%;
}







.billing-delivery-detail_container p , .billing-adress-detail_container p{
    font-size: 2vh;
    margin: 8px 0 2px 4px; 
}

.billing-delivery-detail_container h1, .billing-adress-detail_container h1{
    font-size: 26px;
    margin: 2px 0 2px 4px; 
    text-align: center;
    color : rgb(87, 194, 243);
    font-weight: 600;
    
    
}

.detail{
    margin: 2% 0 0 2%;
}


.btn-change-billing-detail, .btn-change-delivery-detail {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 12vh;

}

.btn-change-billing, .btn-change-delivery {
    padding: 1% 4%;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(87, 194, 243);
    color: white;
    font-weight: 600;
}

.btn-change-billing:hover {
    background-color: white;
    color: rgb(87, 194, 243);
}

.btn-change-delivery:hover {
    background-color: white;
    color: rgb(87, 194, 243);
}
