
.product-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.product-card-container h1{
   margin-top: 10px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 8vh;
    border: none;
}

.img-card-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.img-card{
    width: 60%;
}

.information-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.detail-box{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 20px;
}

.line-detail-case-a  {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    width: 100%;
    font-weight: 600;
}

.line-detail-case-b {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    font-weight: 600;
}

.line-a{
    display: flex;
    background-color: rgb(87, 194, 243);
    color: white;
    width: 100%;
    padding: 0 60px 0 0;

}

.line-b{
    display: flex;
    background-color: white;
    color: rgb(87, 194, 243);
    width: 100%;
    
}

.info-detail {
    margin-left: 4px;
}

.description-box{
    display: flex;
    width: 100%;
    border: 1px solid rgb(87, 194, 243);
    padding: 5px;
}

.orders-basket-box{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content:space-between;
    align-items: center;
}

.stock-price-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.stock{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
}

.stock p {
    margin-left: 5px;
    
    font-weight: bold;
}

.icon-valid{
    width: 4%;
}



.good-stock{
    color: green;
    margin: 0;
}

.no-stock {
    color: red;
    margin: 0;
 }

.limit-stock{
    color: red;
    font-size: 12px;
    margin: 0;

}

.btn-put-basket{
    padding: 1% 1%;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(243, 139, 139);
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: 30%;  
}

.btn-put-basket:hover{
    background-color:rgb(242, 168, 168) ;
}

.price-card{
    font-size: 40px;
    color: black;
    
}

.modal-basket{
    border: 1px solid rgba(0, 128, 0, 0.302);
    border-radius: 15px;
    padding: 6px 20px;
    background-color: rgba(0, 128, 0, 0.434);
    visibility: hidden;
    font-size: 12px;
    transition: 1s ease-out;
    margin: 0;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-basket img {
    width: 30px;
    margin-right: 10px;
}

.modal-basket p {
    margin: 0;
    
}
