.productlist_container{
    width: 20%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    margin: 0 0;
    height: 40vh;
}

.productlist_container:hover{
    transform: scale(1.02);
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

.list-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }



.list-img{
    width: 100px;
    height: auto;
}

.title-list, .marque-list, .price-list{
    margin: 0;
}

.title-list{
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.marque-list{
    color: rgb(87, 85, 85);
    font-size: 14px;
}

.price-list{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.marque-list-box{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.bar-seperate{
    margin-top: 8px;
    border-top: 6px solid orange;
    width: 12%;
}

.bar-v-seperate{
    margin-left: 20px;
    border-right: 4px solid orange;
    height: 16vh;
}

.seperate-bar{
    width: 80%;
    border-top: 4px solid orange;
    margin: 5% 0;
    
}

.search-bars-box{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.choice-box-bar{
    display: flex;
    
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.search-box-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}