
.product-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.img-card-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.img-card{
    width: 80%;
}

.information-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-box{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 20px;
}

.line-detail-case-a  {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    width: 100%;
    font-weight: 600;
}

.line-detail-case-b {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    font-weight: 600;
}

.line-a{
    display: flex;
    background-color: rgb(87, 194, 243);
    color: white;
    width: 100%;
    padding: 0 60px 0 0;

}

.line-b{
    display: flex;
    background-color: white;
    color: rgb(87, 194, 243);
    width: 100%;
    
}

.info-detail {
    margin-left: 4px;
}

.description-box{
    display: flex;
    width: 100%;
    border: 1px solid rgb(87, 194, 243);
    padding: 5px;
}

.order-stock-box{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.stock{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.stock p {
    margin-left: 5px;
    
    font-weight: bold;
}

.icon-valid{
    width: 10%;
}

.btn-order-box{
    display: flex;
    width: 100%;

}

.good-stock{
    color: green;
    margin: 0;
}

.no-stock {
    color: red;
    margin: 0;
 }

.limit-stock{
    color: red;
    font-size: 12px;
    margin: 0;

}