
.basket-header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 140px;
}


.basket-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:200px;
    
}

.basket-logo-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.basket-title{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.basket-empty-box{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.basket-empty{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.basket-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    background-color: whitesmoke;
    padding: 30px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 96px;
    position: absolute;
}

.list-shop-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    
}

.total-price-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-basket{
    width: 40px;
    cursor: pointer;
    margin:0;
}

.bar-separation{
    border-top: 1px solid black;
    width: 90%;
    margin: 20px 0;
}

.produce, .quantity-produce, .total-title-basket-header, .total-price-basket-header {
    margin: 10px;
    font-size: 14px;
}

.quantity-produce, .total-price-basket-header{
    
    font-weight: 600;
}

.btn-order-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.btn-order{
    padding: 2% 4%;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(87, 194, 243);
    color: white;
    font-weight: 600;
}

.btn-order:hover{
    background-color: white;
    color: rgb(87, 194, 243);
}

#triangle {
display : inline-block;
 height : 0;
 width : 0;
 border-top : 40px solid whitesmoke;
 border-right : 40px solid transparent;
 transform: rotate(45deg);
 position: absolute;
 top: 90px;
 
 
}


#circle {
    width: 28px;
    height: 28px;
    border-radius: 23px;
    background: red;
    top: 20px;
    right:210px;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}


.number-article-basket{
    color: white;
}