.connect-header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.connect-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.connect-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    background-color: whitesmoke;
    padding: 30px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 74px;
    position: absolute;

}

#triangle-connect {
    display : inline-block;
     height : 0;
     width : 0;
     border-top : 40px solid whitesmoke;
     border-right : 40px solid transparent ;
     transform: rotate(45deg);
     position: absolute;
     top: 68px;
     
     
    }

.icon-user {
    width: 20%;
}

.btn-connect-box{
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn-connect {
    width: 100%;
    padding: 8px 12px;
    cursor: pointer;
    background-color: orange;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin: 6px 0;
}

.btn-connect:hover {
    background-color: white;
    color: orange;
}