.header-container{
    display: flex;
    background-color: orange;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
}

.logo {
    width: 26%;
    margin: 10px;
}

.basket-connection{
    display: flex;
    flex-direction: row;
    
   }