.list-shop-box {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  margin-top: 10px;

  .produce-container {
    display: flex;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    color: $color-1;
    font-weight: 600;
    .produce {
      font-size: 14px;

      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }
  .quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }
  .total-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    .quantity-produce {
      font-size: 14px;
      font-weight: 600;

      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }
}
