.choicebox{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-choice{
    width: 26%;
    background-color: orange;
    margin: 20px 24px 10px 24px;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.choice-title-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50% ;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px 15px 0 15px;
    background-color: rgb(197, 194, 194);
    border-radius: 15px;
    border: 1px solid orange;
}

.choice-title-img:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.choice-title{
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;

}