.search-bar-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.search{
    width: 40%;
    padding: 8px;
    border-radius: 20px 0 0 20px;
}

.search-btn{
    width: 10%;
    padding: 7px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.search-btn:hover{
    background-color: white;
    color: orange;
}