.search-bar-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.search{
    width: 40%;
    padding: 8px;
    border-radius: 20px ;
    border: 1px solid rgb(87, 194, 243);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search:hover{
    border: 1px solid red;
}

.tag-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-tag{
    background-color: white;
    border: 2px solid rgb(87, 194, 243) ;
    margin-right: 2px;
    
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
}

.button-tag:hover{
    background-color: rgb(87, 194, 243);
    color: white;
}

.tag{
    
    border: 2px solid rgb(87, 194, 243) ;
    border-radius: 15px;
    padding: 2px 6px;
    margin: 2px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    
}